[Unit]
Description=Birdwatch Service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/pi/birdwatch/scripts
ExecStart=/home/pi/birdwatch/scripts/birdwatch_camera.py --host 192.168.1.1 --topic birdwatch --tmp /tmp

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
